<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <!-- Evita listado de directorios (equivalente a -Indexes) -->
    <directoryBrowse enabled="false" />

    <rewrite>
      <rules>
        <rule name="Ruta amigable" stopProcessing="true">
          <match url="^([-a-zA-Z0-9]+)$" />
          <conditions>
            <!-- Si NO es archivo -->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <!-- Si NO es directorio -->
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action
            type="Rewrite"
            url="index.php?ruta={R:1}" />
        </rule>
      </rules>
    </rewrite>

  </system.webServer>
</configuration>
